
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #75594e;
}

img, map {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}
area {
    outline-color: #e2be91;
    outline-width: thin;
}